<div class="container mt-4">
    <ul class="list-group"  id="menu-list">
      <li class="list-group-item">Hospedaje
        <ul class="list-group">
          <li class="list-group-item">Habitaciones
            <ul class="list-group">
              <li class="list-group-item"><a href="/HB-1">HB-1</a></li>
              <li class="list-group-item"><a href="/HB-2">HB-2</a></li>
              <li class="list-group-item"><a href="/HB-3">HB-3</a></li>
              <li class="list-group-item"><a href="/HB-4">HB-4</a></li>
              <li class="list-group-item"><a href="/HB-5">HB-5</a></li>
              <li class="list-group-item"><a href="/HB-6">HB-6</a></li>
              <li class="list-group-item"><a href="/HB-7">HB-7</a></li>
              <li class="list-group-item"><a href="/HB-8">HB-8</a></li>
              <li class="list-group-item"><a href="/HB-9">HB-9</a></li>
              <li class="list-group-item"><a href="/HB-10">HB-10</a></li>
              <li class="list-group-item"><a href="/HB-11">HB-11</a></li>
              <li class="list-group-item"><a href="/HB-12">HB-12</a></li>
              <li class="list-group-item"><a href="/HB-13">HB-13</a></li>
              <li class="list-group-item"><a href="/HB-14">HB-14</a></li>
              <li class="list-group-item"><a href="/HB-15">HB-15</a></li>
            </ul>
          </li>
          <li class="list-group-item">Cabañas
            <ul class="list-group">
              <li class="list-group-item"><a href="/CB-20">CB-20</a></li>
              <li class="list-group-item"><a href="/CB-21">CB-21</a></li>
              <li class="list-group-item"><a href="/CB-22">CB-22</a></li>
              <li class="list-group-item"><a href="/CB-23">CB-23</a></li>
              <li class="list-group-item"><a href="/CB-24">CB-24</a></li>
              <li class="list-group-item"><a href="/CB-25">CB-25</a></li>
              <li class="list-group-item"><a href="/CB-26">CB-26</a></li>
              <li class="list-group-item"><a href="/CB-27">CB-27</a></li>
              <li class="list-group-item"><a href="/CB-28">CB-28</a></li>
              <li class="list-group-item"><a href="/CB-29">CB-29</a></li>
              <li class="list-group-item"><a href="/CB-30">CB-30</a></li>
              <li class="list-group-item"><a href="/CB-31">CB-31</a></li>
            </ul>
          </li>
          <li class="list-group-item">Habitaciones Entrantes
            <ul class="list-group">
              <li class="list-group-item"><a href="/EHB-1">HB-101</a></li>
              <li class="list-group-item"><a href="/EHB-2">HB-102</a></li>
              <li class="list-group-item"><a href="/EHB-3">HB-103</a></li>
              <li class="list-group-item"><a href="/EHB-4">HB-104</a></li>
              <li class="list-group-item"><a href="/EHB-5">HB-105</a></li>
              <li class="list-group-item"><a href="/EHB-6">HB-106</a></li>
              <li class="list-group-item"><a href="/EHB-7">HB-107</a></li>
              <li class="list-group-item"><a href="/EHB-8">HB-108</a></li>
              <li class="list-group-item"><a href="/EHB-9">HB-109</a></li>
              <li class="list-group-item"><a href="/EHB-10">HB-110</a></li>
              <li class="list-group-item"><a href="/EHB-11">HB-111</a></li>
              <li class="list-group-item"><a href="/EHB-12">HB-112</a></li>
              <li class="list-group-item"><a href="/EHB-13">HB-113</a></li>
              <li class="list-group-item"><a href="/EHB-14">HB-114</a></li>
              <li class="list-group-item"><a href="/EHB-15">HB-115</a></li>
            </ul>
          </li>
          <li class="list-group-item">Cabañas Entrantes
            <ul class="list-group">
              <li class="list-group-item"><a href="/ECB-20">CB-120</a></li>
              <li class="list-group-item"><a href="/ECB-21">CB-121</a></li>
              <li class="list-group-item"><a href="/ECB-22">CB-122</a></li>
              <li class="list-group-item"><a href="/ECB-23">CB-123</a></li>
              <li class="list-group-item"><a href="/ECB-24">CB-124</a></li>
              <li class="list-group-item"><a href="/ECB-25">CB-125</a></li>
              <li class="list-group-item"><a href="/ECB-26">CB-126</a></li>
              <li class="list-group-item"><a href="/ECB-27">CB-127</a></li>
              <li class="list-group-item"><a href="/ECB-28">CB-128</a></li>
              <li class="list-group-item"><a href="/ECB-29">CB-129</a></li>
              <li class="list-group-item"><a href="/ECB-30">CB-130</a></li>
              <li class="list-group-item"><a href="/ECB-31">CB-131</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>