<div class="container mt-4">
    <ul class="list-group"  id="menu-list">
      <li class="list-group-item">Hospedaje
        <ul class="list-group">
          <li class="list-group-item">Habitaciones
            <ul class="list-group">
              <li class="list-group-item"><a href="/HB-1">HB-1</a></li>
              <li class="list-group-item"><a href="/HB-2">HB-2</a></li>
              <li class="list-group-item"><a href="/HB-3">HB-3</a></li>
              <li class="list-group-item"><a href="/HB-4">HB-4</a></li>
              <li class="list-group-item"><a href="/HB-5">HB-5</a></li>
              <li class="list-group-item"><a href="/HB-6">HB-6</a></li>
            </ul>
          </li>
          <li class="list-group-item">Cabañas
            <ul class="list-group">
              <li class="list-group-item"><a href="/CB-14">CB-14</a></li>
              <li class="list-group-item"><a href="/CB-15">CB-15</a></li>
              <li class="list-group-item"><a href="/CB-16">CB-16</a></li>
              <li class="list-group-item"><a href="/CB-17">CB-17</a></li>
              <li class="list-group-item"><a href="/CB-18">CB-18</a></li>
            </ul>
          </li>
          <li class="list-group-item">Habitaciones Entrantes
            <ul class="list-group">
              <li class="list-group-item"><a href="/EHB-1">HB-101</a></li>
              <li class="list-group-item"><a href="/EHB-2">HB-102</a></li>
              <li class="list-group-item"><a href="/EHB-3">HB-103</a></li>
              <li class="list-group-item"><a href="/EHB-4">HB-104</a></li>
            </ul>
          </li>
          <li class="list-group-item">Cabañas Entrantes
            <ul class="list-group">
              <li class="list-group-item"><a href="/ECB-14">CB-114</a></li>
              <li class="list-group-item"><a href="/ECB-15">CB-115</a></li>
              <li class="list-group-item"><a href="/ECB-16">CB-116</a></li>
              <li class="list-group-item"><a href="/ECB-17">CB-117</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>